*{
    box-sizing: border-box;
}
.brand-color{
    color:#f5ae2b;
}
.footer-font-color{
    color:#e3be56;
}
.font-light{
    color:#f5ca59;
}
.footer-desc-color{
    color:#8eb1ce;
}
.footer-bg-color{
    background-color: #03152f;
    /* color:#03152f; */
}